$color: (
	primary: #38895f,
	secondary: #91b496,
	card: #f7f6f5,
	cardbg: #f7f3f0,

	red: #A53642,
	rose: #FB9397,
	champange: #E5B764,
	white: #FDE3A7,

	bg: #ffffff,
	darkbg: #2d3131,
	grey: #464646,
	wtext: #ffffff,
);

$hover: (
	primary: #00b16a,
);